body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Limelight", cursive;
  font-size: 90px;
}

.material-icons {
  font-size: 135px;
  color: black;
  display: flex;
  justify-content: center;
}

.card-title {
  text-align: center;
}

.tmdb-logo {
  width: 70%;
  height: auto;
}

img {
  width: 350px;
  height: 350px;
}

.card .card-image img {
  height: 275px;
  width: auto;
  margin: auto;
}

footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  img {
    width: 250px;
    height: 250px;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 13px;
  }

  footer h3 {
    font-size: 24px;
  }
}
